.campaigns {
    background-color: var(--secondary-color);
/*     background: linear-gradient(-45deg, #0e926b, #27dca6); */
h2 {
    color: var(--font-color-light);
}
    .col-md-6 {
        text-align: center;
    }
    hr {
        width: 50px;
        margin: .5rem auto;
    }
}
#campaign-img {
    width: 100%;
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}
.campaign-content {
    position: relative;
    z-index: 1;
}
.campaign-stats {
    background-color:white;
    height:auto;
    padding:2rem; 
    border-radius: 0 40px;
    box-shadow: var(--box-shadow);
    z-index: 1;
    ul {
        margin-right: 1rem;
    }
    li {
        list-style: none;
        text-align: center;
    }
}
.campaign-stats li:nth-child(1), .campaign-stats li:nth-child(6) {
    font-size: .75rem;
}
.campaign-stats li:nth-child(2), .campaign-stats li:nth-child(7) {
    font-weight: 600;
}
.campaign-stats li:nth-child(4) {
    font-weight: 600;
    font-size: 1.25rem;
}

.campaigns-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: -1px;
}

.campaigns-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.campaigns-divider .shape-fill {
    fill: var(--canvas-color);
}