footer {
    background-color: var(--bg-color) !important;
    box-shadow: var(--box-shadow) !important;
    .nav-item {
        padding: 1rem;
    }
    .ms-3 {
        padding: .5rem;
    }
    a {
        color: var(--font-color);
        font-weight: 600;
    }
    a:hover {
        color: var(--secondary-color);
    }
    p {
        color: var(--font-color);
        margin-top: 1rem;
    }
    p:hover {
        cursor: default;
    }
}