.hero {
    background-color: var(--bg-color);
    background: linear-gradient(-45deg, #e0e0e0, #ffffff);
    margin: 20vh 1rem;
    margin-bottom: 10vh;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    position: relative;
}
.hero-img {
    border-radius: 16px 0 16px;
    box-shadow: var(--box-shadow);
}
