.programs {
    background-color: var(--canvas-color);
    background: linear-gradient(45deg, #e0e0e0, #ffffff);
}
.card {
    border: none;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    margin: 1rem 0;
    z-index: 1;
}
.card-img-top {
    border-radius: 16px 16px 0 0;
}

.programs-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.programs-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    margin-bottom: -1px;
}

.programs-divider .shape-fill {
    fill: var(--secondary-color);
}