:root {
    --canvas-color: #ededed;
    --bg-color: #ffffff;
    --bg-color-alt: #ffb265;
    --font-color: #212529;
    --primary-color: #ff9f0d;
    --secondary-color: #0e926b;
    --hover-color: #d68409;
    --heading-ff: 'Montserrat', sans-serif;
    --body-ff: 'Montserrat', sans-serif;
    --bottom-box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    --box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}